* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  height: 100%;
}
.users-container {
  margin: auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--text-primary);
  border-bottom: 1px solid var(--border-color);
}
.name {
  font-size: 1.1rem;
  margin-left: 15px;
}
.op {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
  text-transform: uppercase;
  border: transparent;
  background: none;
}
.op:hover {
  color: var(--text-primary);
}
.op:disabled {
  color: var(--text-secondary);
}
