<div class="container">
  <div class="header">Users</div>

  <div *ngFor="let user of users" class="user">
    <img
      [src]="user.avatar?.imageUrl ?? '/assets/dummy.png'"
      alt="temp"
      class="avatar"
      [routerLink]="['/users', 'profile', user.id]"
    />
    <div class="info">
      <span class="name" [routerLink]="['/users', 'profile', user.id]">{{
        user.name
      }}</span>
      <span class="location" [routerLink]="['/users', 'profile', user.id]">{{
        user.location ?? "Unknown Location"
      }}</span>
    </div>
    <span style="flex: 1 1 auto"></span>
    <button
      class="op"
      *ngIf="!isConnected(user)"
      (click)="connectUser(user)"
      [disabled]="isConnectLoading"
    >
      Connect
    </button>
    <button
      class="op"
      *ngIf="isConnected(user)"
      (click)="startChat(user)"
      [disabled]="isConnectLoading"
    >
      Message
    </button>
  </div>
  <div class="empty-loading" *ngIf="!isLoading && users.length === 0">
    Users will appear here.
  </div>
  <div class="empty-loading" *ngIf="isLoading">Loading users...</div>
</div>
