.container {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  height: 100%;
}
.intro {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-primary);
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.input-border {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.password {
  display: flex;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: var(--bg-alt-color);
}
.password > input {
  flex: 1;
  padding: 12px;
  border-bottom-left-radius: 12px;
  background: none;
  border: transparent;
  outline: none !important;
  resize: none;
  color: var(--text-primary);
}
.name {
  padding: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--bg-alt-color);
  color: var(--text-primary);
}
.email {
  padding: 12px;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  background: var(--bg-alt-color);
  color: var(--text-primary);
}
