<div class="container" *ngIf="comments.length > 0">
  <div class="comment" *ngFor="let comment of comments">
    <img src="/assets/dummy.png" alt="dummy" class="profile-img" />
    <div class="data">
      <div class="nametime">
        <span class="name">{{ comment.userName }}</span>
        <span class="time">{{ comment.time | date : "d MMM, h:mm a" }}</span>
      </div>
      <div class="text">{{ comment.text }}</div>
    </div>
  </div>
</div>
<div class="empty-loading" *ngIf="!isLoading && comments.length === 0">
  Be the first to comment!
</div>
