<div class="container" *ngIf="comments.length > 0">
  <div class="comment" *ngFor="let comment of comments">
    <img
      [src]="comment.userAvatarUrl ?? '/assets/dummy.png'"
      alt="dummy"
      class="profile-img"
    />
    <div
      class="content"
      [class.scale]="editCommentId && editCommentId === comment.id"
    >
      <div class="data" *ngIf="editCommentId !== comment.id">
        <div class="nametime">
          <span class="name">{{ comment.userName }}</span>
          <span class="time">{{ comment.time | date : "d MMM, h:mm a" }}</span>
        </div>
        <span class="text">{{ comment.text }}</span>
      </div>
      <form
        class="form text-box"
        #f="ngForm"
        (ngSubmit)="editComment(f)"
        *ngIf="editCommentId === comment.id"
      >
        <textarea
          class="text text-input"
          name="commentText"
          [ngModel]="comment.text"
          rows="1"
          autosize
          placeholder="Edit comment"
        ></textarea>
        <button type="submit" class="btn" [disabled]="processingComment">
          Save
        </button>
      </form>
      <div class="action" *ngIf="authData && authData.id === comment.userId">
        <button (click)="toggleEdit(comment.id)">
          <span *ngIf="editCommentId !== comment.id">Edit</span>
          <span *ngIf="editCommentId && editCommentId === comment.id"
            >Cancel</span
          >
        </button>
        <button
          (click)="deleteComment(comment.id)"
          [disabled]="processingComment"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="empty-loading" *ngIf="!isLoading && comments.length === 0">
  Be the first to comment!
</div>
<div class="empty-loading" *ngIf="isLoading">Loading comments...</div>
