// From https://stackoverflow.com/questions/71154905/css-for-chat-room-speech-bubble-position

/* QuickReset */
* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat {
  --rad: 20px;
  --rad-sm: 3px;
  font: 16px/1.5 sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.no-msg {
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  color: #888;
}

.msg {
  position: relative;
  max-width: 75%;
  padding: 5px 15px;
  margin-bottom: 2px;
  word-break: break-word;
  white-space: pre-line;
}

.msg.sent {
  border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
  background: #42a5f5;
  color: #fff;
  /* moves it to the right */
  margin-left: auto;
}

.msg.rcvd {
  border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
  background: #f1f1f1;
  color: #555;
  /* moves it to the left */
  margin-right: auto;
}

/* Improve radius for messages group */

.msg.sent:first-child,
.msg.rcvd + .msg.sent {
  border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent + .msg.rcvd {
  border-top-left-radius: var(--rad);
}

/* time */

.msg::before {
  content: attr(data-nametime);
  font-size: 0.8rem;
  position: absolute;
  bottom: 100%;
  color: #888;
  white-space: nowrap;
  /* Hidden by default */
  display: none;
}

.msg.sent::before {
  right: 10px;
}

.msg.rcvd::before {
  left: 10px;
}

/* Show time only for first message in group */

.msg:first-child::before,
.msg.sent + .msg.rcvd::before,
.msg.rcvd + .msg.sent::before {
  /* Show only for first message in group */
  display: block;
}

.message-box-container {
  width: 100%;
  backdrop-filter: blur(10px);
  position: sticky;
  bottom: 0;
  padding: 10px;
}
.message-box {
  display: flex;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
.message-input {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  font-size: 15px;
  overflow: hidden;
  text-align: justify;
  padding-right: 20px;
  color: #444;
}
textarea::placeholder {
  font-family: sans-serif;
  margin: auto;
}
.message-submit {
  position: relative;
  z-index: 1;
  color: #4a90e2;
  border: none;
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none !important;
  transition: background 0.2s ease;
  cursor: pointer;
}
.message-submit:hover {
  background: #fff;
  color: #333;
}
