// From https://stackoverflow.com/questions/71154905/css-for-chat-room-speech-bubble-position

/* QuickReset */
* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}
.chat-container {
  max-width: 600px;
  height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0 20px;
  color: var(--text-primary);
  border-bottom: var(--border-color) solid 1px;
  position: sticky;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(10px);
}
.chat {
  --rad: 20px;
  --rad-sm: 3px;
  font: 16px/1.5 sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.msg {
  position: relative;
  max-width: 75%;
  padding: 5px 15px;
  margin-bottom: 2px;
  word-break: break-word;
  white-space: pre-line;
}

.msg.sent {
  border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
  background: var(--msg-sent-bg);
  color: var(--msg-sent-fg);
  /* moves it to the right */
  margin-left: auto;
}

.msg.rcvd {
  border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
  background: var(--msg-rcvd-bg);
  color: var(--msg-rcvd-fg);
  /* moves it to the left */
  margin-right: auto;
}

/* Improve radius for messages group */

.msg.sent:first-child,
.msg.rcvd + .msg.sent {
  border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent + .msg.rcvd {
  border-top-left-radius: var(--rad);
}

/* time */

.msg::before {
  content: attr(data-nametime);
  font-size: 0.8rem;
  position: absolute;
  bottom: 100%;
  color: #888;
  white-space: nowrap;
  /* Hidden by default */
  display: none;
}

.msg.sent::before {
  right: 10px;
}

.msg.rcvd::before {
  left: 10px;
}

/* Show time only for first message in group */

.msg:first-child::before,
.msg.sent + .msg.rcvd::before,
.msg.rcvd + .msg.sent::before {
  /* Show only for first message in group */
  display: block;
}

.message-box-container {
  width: 100%;
  backdrop-filter: blur(10px);
  position: sticky;
  bottom: 0;
  padding: 10px;
}
.message-box {
  display: flex;
  background: var(--bg-alt-color);
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
}
.message-input {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  font-size: 15px;
  font-family: sans-serif;
  overflow: hidden;
  text-align: justify;
  padding-right: 20px;
  color: var(--text-primary);
}
textarea::placeholder {
  font-family: sans-serif;
  margin: auto;
}
.chat-img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
