<div *ngIf="chat" class="chat">
  <div
    *ngFor="let message of chat.messages"
    [ngClass]="message.userId === authData?.id ? 'sent' : 'rcvd'"
    class="msg"
    [attr.data-nametime]="message.userName + ' 12:05 pm'"
  >
    {{ message.text }}
  </div>
  <div class="spacer"></div>

  <div class="message-box-container">
    <form class="message-box" #f="ngForm" (ngSubmit)="sendMessage(f)">
      <input
        type="text"
        name="messageText"
        class="message-input"
        placeholder="Type message..."
        ngModel
      />
      <button type="submit" class="message-submit">Send</button>
    </form>
  </div>
</div>
