<div class="container">
  <div class="row-1">
    <img
      [src]="avatarUrl ?? '/assets/dummy.png'"
      alt="temp"
      class="profile-img"
    />
    <form class="text-box" #f="ngForm" (ngSubmit)="submitPost(f)">
      <textarea
        type="text"
        name="postText"
        class="text-input"
        placeholder="What's on your mind?"
        autocomplete="off"
        ngModel
        autosize
        rows="1"
      ></textarea>
      <button type="submit" class="btn" [disabled]="isLoading">Post</button>
    </form>
  </div>
  <div class="row-2" [class.hidden]="isLoading">
    <label for="files" class="icon-btn">
      <img class="icon" src="/assets/pictures.svg" alt="pictures" />
      <span>Add Pictures</span>
    </label>
    <input
      type="file"
      id="files"
      (change)="handleFileInput()"
      accept="image/*"
      multiple
      hidden
      #filesInput
    />
    <button (click)="clearPictures()" class="icon-btn">
      <img class="icon" src="/assets/remove-image.svg" alt="remove photo" />
      <span>Clear Pictures</span>
    </button>
  </div>
  <div class="row-3" *ngIf="imageUrls.length > 0 && !isLoading">
    <div class="preview-main">
      <img *ngIf="initialImage" [src]="initialImage" alt="" />
    </div>
    <div class="small-imgs" *ngIf="imageUrls.length > 1">
      <img
        *ngFor="let imageUrl of imageUrls"
        [src]="imageUrl"
        alt=""
        (click)="initialImage = imageUrl"
      />
    </div>
  </div>
  <div class="row-4" *ngIf="imageUrls.length > 0 && !isLoading">
    <button
      type="button"
      class="btn"
      style="padding: 5px"
      (click)="submitPost(f)"
    >
      Post
    </button>
  </div>
  <div class="row-4" *ngIf="isLoading">
    <span class="loading">Posting...</span>
  </div>
</div>
