<div class="container">
  <div class="row-1">
    <img src="/assets/dummy.png" alt="temp" class="profile-img" />
    <form class="text-box" #f="ngForm" (ngSubmit)="submitPost(f)">
      <textarea
        type="text"
        name="postText"
        class="text-input"
        placeholder="What's on your mind?"
        autocomplete="off"
        ngModel
        autosize
        rows="1"
      ></textarea>
      <button type="submit" class="btn-submit">Post</button>
    </form>
  </div>
  <!-- <div class="row-2">
    <span class="text">Add Pictures</span>
    <span class="text">Add Pictures</span>
  </div> -->
</div>
