.container {
  max-width: 100%;
  margin: auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.body {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.post {
  width: 100%;
}
.prompt {
  padding-bottom: 0;
}
