<div class="container">
  <div class="header" *ngIf="!isLoading && post">
    {{ post.userName }}'s post
  </div>
  <div class="header" *ngIf="isLoading">Post</div>
  <div class="body post">
    <div class="empty-loading" *ngIf="isLoading">Loading post...</div>
    <div class="empty-loading" *ngIf="!isLoading && !post">
      Error loading post
    </div>
    <app-post-preview
      [post]="post"
      [authData]="authData"
      [enableLinks]="false"
      [photosLinear]="true"
      [redirectOnDelete]="true"
    ></app-post-preview>
    <app-add-comment
      *ngIf="authData && post"
      [postId]="post.id"
    ></app-add-comment>
    <div class="empty-loading" *ngIf="!authData && post">
      <a routerLink="/login" class="btn">Login</a> to comment on this post
    </div>
    <app-comments *ngIf="post" [postId]="post.id"></app-comments>
  </div>
</div>
