<div class="container">
  <div class="header">Messages</div>
  <div
    *ngFor="let chat of chats"
    class="chat"
    [routerLink]="[chat.id]"
    [class.hidden]="isLoading"
  >
    <img src="/assets/dummy.png" alt="temp" class="chat-img" />
    <div class="content">
      <div class="chat-title">
        <span class="chat-name text">{{ chat.title }}</span>
        <div class="time">
          {{ chat.lastMessageTime | date : "EEE, h:mm a" }}
        </div>
      </div>
      <span
        class="last-message text"
        *ngIf="authData?.id === chat.lastMessageSenderId"
        >{{ "You: " + chat.lastMessage }}</span
      >
      <span
        class="last-message text"
        *ngIf="authData?.id !== chat.lastMessageSenderId"
        >{{ chat.lastMessage }}</span
      >
    </div>
  </div>
  <div class="empty" *ngIf="!isLoading && chats.length === 0">
    Your chats will appear here.
  </div>
  <div class="empty" *ngIf="isLoading">Loading chats...</div>
</div>
