.container {
  max-width: 600px;
  margin: auto;
  position: relative;
  // height: 100%;
  display: flex;
  flex-direction: column;
}
.no-post {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #888;
}
