<div class="container">
  <app-create-post></app-create-post>
  <div class="card" *ngFor="let i of [1, 2, 3, 4]">
    <div class="card-header">
      <img src="/assets/dummy.png" alt="temp" class="card-img" />
      <div class="header-content">
        <span class="card-title">Author</span>
        <span class="card-subtitle">12:05 PM</span>
      </div>
      <div style="flex: 1 1 auto"></div>
      <div class="time">...</div>
    </div>
    <div class="card-content">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
        omnis consectetur quia? Cupiditate voluptate esse maiores quidem magni
        aliquam harum. Repellat veritatis atque blanditiis nesciunt dolor vero
        quibusdam, laborum molestiae. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Qui ea neque beatae! Error tempora iste repellendus.
        Obcaecati tempora animi error, neque commodi eveniet magnam eius quod,
        itaque aspernatur minima iure! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolores quo officiis enim, eos reprehenderit
        necessitatibus qui fuga laborum. Perferendis non, blanditiis eveniet
        optio recusandae unde consectetur necessitatibus officiis ad asperiores.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro delectus
        pariatur ratione labore quo a, tenetur assumenda? Sed impedit id sunt
        velit eos, sint libero reiciendis nesciunt, suscipit repellat nisi.
      </p>
    </div>
    <div class="card-info">
      <span>100 Likes</span>
      <span style="flex: 1 1 auto"></span>
      <span>100 Comments</span>
    </div>
  </div>
</div>
