<div class="container">
  <div class="home-header">
    <div [routerLink]="['/']" class="brand">
      <img src="/assets/brand.svg" alt="brand" />
      <span>Connect</span>
    </div>
    <span style="flex: 1 1 auto"></span>
    <img
      [src]="authData.userAvatarUrl ?? '/assets/dummy.png'"
      alt="profile-img"
      class="profile-link"
      *ngIf="authData"
      [routerLink]="['/users/profile', authData.id]"
    />
    <img
      *ngIf="isDark"
      (click)="toggleTheme()"
      src="/assets/sun.svg"
      class="theme-toggle"
      alt="sun"
    />
    <img
      *ngIf="!isDark"
      (click)="toggleTheme()"
      src="/assets/moon.svg"
      class="theme-toggle"
      alt="moon"
    />
    <a class="header-link" [routerLink]="['/auth/login']" *ngIf="!authData"
      >Login</a
    >
    <a class="header-link" [routerLink]="['/auth/register']" *ngIf="!authData"
      >Register</a
    >
    <img
      src="/assets/logout.svg"
      class="header-icon"
      (click)="logout()"
      *ngIf="authData"
    />
  </div>
  <div class="posts">
    <div class="nav" *ngIf="authData">
      <div class="nav-link" [routerLink]="['/chats']">
        <img src="/assets/chat.svg" />
        <span>Messages</span>
      </div>
      <div class="nav-link" [routerLink]="['/users/connections']">
        <img src="/assets/brand.svg" />
        <span>Connections</span>
      </div>
      <div class="nav-link" [routerLink]="['/users']">
        <img src="/assets/search.svg" />
        <span>Users</span>
      </div>
    </div>
    <div class="nav prompt" *ngIf="!authData">
      <span
        >Please <a routerLink="/auth/login" class="btn">login</a> to post, like,
        comment or chat</span
      >
    </div>
    <app-posts></app-posts>
  </div>
</div>
