<div class="container">
  <div class="home-header" *ngIf="!isChat()">
    <div [routerLink]="['/']" class="brand">
      <img src="/assets/brand.svg" alt="brand" />
      <span>Connect</span>
    </div>
    <span style="flex: 1 1 auto"></span>
    <img
      [src]="authData.userAvatarUrl ?? '/assets/dummy.png'"
      alt="profile-img"
      class="profile-link"
      *ngIf="authData"
      [routerLink]="['/users/profile', authData.id]"
    />
    <button class="icon-toggle" *ngIf="isDark" (click)="toggleTheme()">
      <img src="/assets/sun.svg" class="theme-toggle-icon" alt="sun" />
      <span>Light Mode</span>
    </button>
    <button class="icon-toggle" *ngIf="!isDark" (click)="toggleTheme()">
      <img src="/assets/moon.svg" class="theme-toggle-icon" alt="moon" />
      <span>Dark Mode</span>
    </button>
    <button
      class="icon-toggle"
      [routerLink]="['/auth/login']"
      *ngIf="!authData"
    >
      <img src="/assets/login.svg" class="header-icon" alt="login" />
      <span>Login</span>
    </button>
    <button
      class="icon-toggle"
      [routerLink]="['/auth/register']"
      *ngIf="!authData"
    >
      <img src="/assets/register.svg" class="header-icon" alt="register" />
      <span>Register</span>
    </button>

    <button class="icon-toggle" (click)="logout()" *ngIf="authData">
      <img src="/assets/logout.svg" class="header-icon" alt="logout" />
      <span>Logout</span>
    </button>
  </div>
  <div class="home-container">
    <div class="nav" *ngIf="authData && isFeed()">
      <div class="nav-link" [routerLink]="['/chats']">
        <img src="/assets/chat.svg" />
        <span>Messages</span>
      </div>
      <div class="nav-link" [routerLink]="['/users/connections']">
        <img src="/assets/brand.svg" />
        <span>Connections</span>
      </div>
      <div class="nav-link" [routerLink]="['/users']">
        <img src="/assets/search.svg" />
        <span>Users</span>
      </div>
    </div>
    <div class="nav prompt" *ngIf="!authData && isFeed()">
      <span
        >Please <a routerLink="/auth/login" class="btn">login</a> to post, like,
        comment or chat</span
      >
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
