.container {
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.home-header {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  min-height: 50px;
  padding: 0 10px;
  color: var(--text-secondary);
  border-bottom: var(--border-color) solid 1px;
  position: sticky;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(8px);
}
.theme-toggle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.brand {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.brand > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  filter: var(--logo-light);
}

.home-header > a {
  text-decoration: none;
  color: var(--text-secondary);
}
a:hover {
  text-decoration: underline;
}

.header-link {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

.nav {
  color: var(--text-primary);
  max-width: 600px;
  margin: 10px auto 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  box-sizing: border-box;
}
.nav > a {
  font-size: 14px;
  user-select: none;
  text-decoration: none;
  color: var(--text-primary);
}
.nav > a:hover {
  text-decoration: underline;
}
.prompt {
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
