.pointer {
  cursor: pointer;
}
.text-edit-box {
  display: flex;
  flex: 1;
  background: var(--bg-alt-color);
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}
.text-edit-input {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  overflow: hidden;
  text-align: justify;
  font-size: 15px;
  padding-right: 10px;
  margin: auto 0;
  color: var(--text-primary);
  font-family: "Roboto", "Arial", sans-serif;
}
.action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 10px;
  color: var(--text-secondary);
  cursor: pointer;
  background: transparent;
  border: transparent;
}
.action-btn > img {
  filter: var(--logo-invert);
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
