<div class="card" *ngIf="post">
  <div class="card-header">
    <img
      [src]="post.userAvatarUrl ?? '/assets/dummy.png'"
      alt="temp"
      class="avatar"
      [routerLink]="['/users', 'profile', post.userId]"
    />
    <div
      class="header-content"
      [routerLink]="['/users', 'profile', post.userId]"
    >
      <span class="card-title">{{ post.userName }}</span>
      <span class="card-subtitle">{{ post.createdAt | date : "short" }}</span>
    </div>
    <div style="flex: 1 1 auto"></div>
    <button
      class="action-btn"
      *ngIf="authData && authData.id == post.userId && !isEditMode"
      (click)="toggleEditMode()"
      [disabled]="isLoading"
    >
      <img src="/assets/edit.svg" alt="edit" class="action-icon" />
      <span>Edit</span>
    </button>
    <button class="btn" *ngIf="isEditMode" (click)="toggleEditMode()">
      <span>Cancel</span>
    </button>
    <button
      class="action-btn"
      *ngIf="authData && authData.id == post.userId"
      (click)="deletePost(post.id)"
      [disabled]="isLoading"
    >
      <img src="/assets/delete.svg" alt="delete" class="action-icon" />
      <span>Delete</span>
    </button>
  </div>
  <div
    class="card-content"
    *ngIf="!isLoading"
    [class.pointer]="enableLinks"
    (click)="navigate()"
  >
    <form class="text-edit-box" *ngIf="isEditMode" (ngSubmit)="savePost()">
      <textarea
        type="text"
        name="postText"
        class="text-edit-input"
        placeholder="Edit your post"
        autocomplete="off"
        [(ngModel)]="postText"
        autosize
        rows="1"
      ></textarea>
      <button type="submit" class="btn">Save</button>
    </form>
    <p class="text" *ngIf="post.text && !isEditMode">
      {{ post.text }}
    </p>
    <app-post-images
      [post]="post"
      [linear]="photosLinear"
      class="images"
    ></app-post-images>
  </div>
  <div class="card-info" *ngIf="!isLoading">
    <div
      *ngIf="post.postLiked && authData"
      class="fav fav-heart liked"
      [class.is-animating]="post.postLiked"
      (click)="unlike(post)"
    ></div>
    <div
      *ngIf="!post.postLiked && authData"
      class="fav fav-heart"
      [class.is-animating]="post.postLiked"
      (click)="like(post)"
    ></div>
    <span
      >{{ post.likesCount }} {{ post.likesCount > 1 ? "Likes" : "Like" }}</span
    >
    <span style="flex: 1 1 auto"></span>
    <span [class.pointer]="enableLinks" (click)="navigate()"
      >{{ post.commentsCount }}
      {{ post.commentsCount > 1 ? "Comments" : "Comment" }}</span
    >
  </div>
  <div class="empty-loading" *ngIf="isLoading">
    <span>Please wait...</span>
  </div>
</div>
