<div class="card" *ngIf="post">
  <div class="card-header">
    <img src="/assets/dummy.png" alt="temp" class="card-img" />
    <div class="header-content">
      <span class="card-title">{{ post.userName }}</span>
      <span class="card-subtitle">{{ post.createdAt | date : "short" }}</span>
    </div>
    <div style="flex: 1 1 auto"></div>
    <button
      class="btn"
      *ngIf="userId && userId == post.userId"
      (click)="toggleEditMode()"
      [disabled]="isLoading"
    >
      <span *ngIf="!isEditMode">Edit</span>
      <span *ngIf="isEditMode">Cancel</span>
    </button>
    <button
      class="btn red"
      *ngIf="userId && userId == post.userId"
      (click)="deletePost(post.id)"
      [disabled]="isLoading"
    >
      Delete
    </button>
  </div>
  <div class="card-content" *ngIf="!isLoading">
    <form class="text-box" *ngIf="isEditMode" (ngSubmit)="savePost()">
      <textarea
        type="text"
        name="postText"
        class="text-input"
        placeholder="Edit your post"
        autocomplete="off"
        [(ngModel)]="postText"
        autosize
        rows="1"
      ></textarea>
      <button type="submit" class="btn">Save</button>
    </form>
    <p class="text" *ngIf="post.text && !isEditMode">
      {{ post.text }}
    </p>
    <img
      class="content-photo"
      [src]="post.photos[0].imageUrl"
      alt="content-photo"
      *ngIf="post.photos.length > 0"
    />
    <img
      class="content-photo"
      [src]="post.photos[0].imageUrl"
      alt="content-photo"
      *ngIf="post.photos.length === 2"
    />
    <div class="content-photo-3" *ngIf="post.photos.length === 3">
      <img [src]="post.photos[1].imageUrl" [alt]="post.photos[1].publicId" />
      <img [src]="post.photos[2].imageUrl" [alt]="post.photos[2].publicId" />
    </div>
    <div class="small-imgs" *ngIf="post.photos.length > 3">
      <img [src]="post.photos[1].imageUrl" [alt]="post.photos[1].publicId" />
      <img [src]="post.photos[2].imageUrl" [alt]="post.photos[2].publicId" />
      <div class="more-img">
        <span>More</span>
      </div>
    </div>
  </div>
  <div class="card-info" *ngIf="!isLoading">
    <span>{{ post.likesCount }} Likes</span>
    <span style="flex: 1 1 auto"></span>
    <span>{{ post.commentsCount }} Comments</span>
  </div>
  <div class="loading" *ngIf="isLoading">
    <span>Please wait...</span>
  </div>
</div>
