.card-info {
  display: flex;
  padding: 10px;
  color: var(--text-secondary);
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  user-select: none;
}
.images {
  cursor: pointer;
}
.text-box {
  display: flex;
  flex: 1;
  background: var(--bg-alt-color);
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}
.text-input {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  overflow: hidden;
  text-align: justify;
  font-size: 15px;
  padding-right: 10px;
  margin: auto 0;
  color: var(--text-primary);
  font-family: sans-serif;
}
.fav {
  margin: -17px -5px -17px -15px;
  background-position: left;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background-position: right;
  }
  &.liked {
    background-position: right;
  }
}
.fav-heart {
  background-image: url("/assets/heart.png");
  background-size: auto 50px;
  height: 50px;
  width: 50px; // 2900px / 29 frames
  &.is-animating {
    animation: zoetrope 0.8s steps(28) 1;
  }
}
@keyframes zoetrope {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
